<h1>plugin.fun - By <a href="http://CalderaLabs.org">Caldera Labs</a></h1>

<h2>Makes WordPress Plugins</h2>

<ul class="features">
    <li>REST-API driven, JavaScript UIs - like it's 2017.
        <ul>
            <li>REST-API driven, JavaScript UIs. I hope you learned your JavaScript deep enough.</li>
            <li>Built with the WordPress REST API, VueJS and Webpack. Modernity! </li>
        </ul>
    </li>
    <li>Modern PHP
        <ul>
            <li>OOP AF</li>
            <li>"globalish" state via central -- extensible and replacable -- container.</li>
            <li>Blackboxes WordPress (WIP) for easy of testing and interoperability with PHP frameworks.</li>
        </ul>
    </li>
    <li>Caldera Forms Add-on Development dot fast
        <ul>
            <li>Create New Caldera Form Field Types</li>
            <li>Create New Caldera Forms Processors</li>
            <li>Largely blackbox Caldera Forms (WIP) for easy of testing and interoperability with Caldera Forms Pro. </li>
        </ul>
    </li>
</ul>

<div class="landing-buttons">
    <a class="landing-button" target="_blank" href="https://gitlab.com/caldera-labs/fun">
        GitHub
    </a>

    <a class="landing-button" router-link="/home">
        Docs
    </a>
</div>

<style>
    h1 {
        margin: 0;
        margin-top: -50px;
        font-weight: normal;
        font-size: 40px;
        letter-spacing: 1px;
    }
    h2 {
        margin-top: 20px;
        color: #999;
        font-weight: normal;
        letter-spacing: 1px;
    }
    .landing {
        padding: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        -webkit-user-select: none;
        user-select: none;
    }
    .features {
        margin-top: 20px;
        margin-bottom: 60px;
        font-size: 16px;
        line-height: 1.7;
    }
    .landing-button {
        border: 1px solid #ccc;
        border-radius: 33px;
        padding: 10px 30px;
        background-color: white;
        display: inline-block;
        margin-right: 20px;
        color: #333;
    }
    .landing-button:hover {
        border-color: #42b983;
        color: #42b983;
        text-decoration: none;
    }
</style>
